In [1]:
import matplotlib as mpl
import pandas as pd
import numpy as np

import seaborn as sns
from scipy.spatial import ConvexHull

import matplotlib.pyplot as plt
import matplotlib.colors as colors
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

In [4]:
df_original = pd.read_csv('.\MT_Data/numerical_continuation_activeset _fullzone.csv')
df_new = df_original.dropna(axis=0,how='any')
df_new
df_new.to_csv('.\MT_Data/New_numerical_continuation_activeset _fullzone.csv', index='False')

In [62]:
#read dataset as df
df_original = pd.read_csv('./MT_Data/basic_nodes.csv')
df = pd.read_csv('./MT_Data/iteration results/edgedata-1.csv')
df2 = pd.read_csv('./MT_Data/iteration results/edgedata-2.csv')
df3 = pd.read_csv('./MT_Data/iteration results/edgedata-3.csv')
df4 = pd.read_csv('./MT_Data/iteration results/edgedata-4.csv')
df5 = pd.read_csv('./MT_Data/iteration results/edgedata-5.csv')
df6 = pd.read_csv('./MT_Data/iteration results/edgedata-6.csv')
df7 = pd.read_csv('./MT_Data/iteration results/edgedata-7.csv')
df8 = pd.read_csv('./MT_Data/iteration results/edgedata-8.csv')
df9 = pd.read_csv('./MT_Data/iteration results/edgedata-9.csv')
df10 = pd.read_csv('./MT_Data/iteration results/edgedata-10.csv')
df11 = pd.read_csv('./MT_Data/iteration results/edgedata-11.csv')
df12 = pd.read_csv('./MT_Data/iteration results/edgedata-12.csv')
df13 = pd.read_csv('./MT_Data/iteration results/edgedata-13.csv')
df14 = pd.read_csv('./MT_Data/iteration results/edgedata-14.csv')

In [63]:
df_new = pd.concat([df_original,df])
df_new = pd.concat([df_new,df2])
df_new = pd.concat([df_new,df3])
df_new = pd.concat([df_new,df4])
df_new = pd.concat([df_new,df5])
df_new = pd.concat([df_new,df6])
df_new = pd.concat([df_new,df7])
df_new = pd.concat([df_new,df8])
df_new = pd.concat([df_new,df9])
df_new = pd.concat([df_new,df10])
df_new = pd.concat([df_new,df11])
df_new = pd.concat([df_new,df12])
df_new = pd.concat([df_new,df13])
df_new = pd.concat([df_new,df14])

df_new

    Unnamed: 0     new_z  new_omega
0          0.0  0.010000   0.960000
1          1.0  0.010000   0.985000
2          2.0  0.035000   0.960000
3          3.0  0.035000   0.985000
4          4.0  0.060000   0.935000
..         ...       ...        ...
15         NaN  0.485000   0.585000
16         NaN  0.580772   0.589127
17         NaN  0.713088   0.502769
18         NaN  0.844647   0.453425
19         NaN  0.985000   0.460000

[907 rows x 3 columns]

In [66]:
#df_new = df_new.dropna(axis=0,how='any')
df_new.to_csv('.\MT_Data/full_data.csv', index='False')

In [65]:
df_new2 = df_new[df_new['test_FLAG']!= False]
df_new2.to_csv('.\MT_Data/full_data_clean.csv', index='False')

KeyError: 'test_FLAG'

In [50]:
df_new2

,zeta,omega_ratio,solution_1,solution_2,solution_3,power,test_FLAG
279,0.160000,0.985000,1.007539,-0.013158,0.005622,0.000000e+00,True
316,0.185000,0.910000,0.977648,0.020613,0.001742,0.000000e+00,True
596,0.360000,0.910000,0.995031,-0.005623,0.010594,-1.242466e-18,True
799,0.485000,0.985000,1.029800,-0.046521,0.016724,0.000000e+00,True
879,0.535000,0.985000,1.033653,-0.052251,0.018601,0.000000e+00,True
...,...,...,...,...,...,...,...
43,0.580499,0.826026,0.937913,0.064291,-0.002201,0.000000e+00,True
44,0.580499,0.702455,0.879725,0.115612,0.004668,-4.173368e-18,True
45,0.580499,0.694634,0.888253,0.101240,0.010512,-2.663676e-18,True
30,0.580772,0.832693,0.938318,0.064854,-0.003169,-2.686755e-19,True
31,0.580772,0.703318,0.880266,0.115187,0.004553,-3.164561e-18,True